---
layout: default
title: Aztech Mountain
images-1:
  - /images/gandys.jpg
  - /images/tina-snow.jpg
  - /images/rb-7.jpg
  - /images/rb-8.jpg
images-2:
  - /images/gallery-1.jpg
  - /images/gallery-2.jpg
  - /images/gallery-3.jpg
  - /images/gallery-4.jpg
  - /images/gallery-5.jpg
  - /images/gallery-6.jpg
  - /images/gallery-7.jpg
  - /images/gallery-8.jpg
instagram: false 
---
<!-- Section #1 -->
<section class="banner" style="background-image:url('/images/gandys-gif.gif');">
  <div class="front">
     <h1> Aztech Mountain </h1>
     <h3> Collaboration Proposal </h3>
  </div>
  <a class="down-arrow" href="#section2">
    <img src="/images/down-arrow-white.svg" />
  </a>
</section>

<!-- - - - Section #2 - - - - - - - - -->
<section class="mini-banner" id="section2">
  <div class="col-12-middle">
    <h2 class="emphasis editable">
     A done-for-you destination campaign, set against the stunning backdrops of Hokkaido Japan.
    </h2>
  </div>
  <a class="down-arrow" href="#section3">
    <img src="/images/down-arrow.svg" />
  </a>
</section>

<!-- - - - Section #3 - - - - - - - - -->
<section id="section3" class="mini-banner tall grid no-padding featured">

  <div class="col-7_sm-12 bg-image" style="background-image:url('/images/eon-snow-2.jpg'); background-position: 50% 75%;">
  </div>
  <div class="col-5_sm-12-middle padded">
    <h2 class="emphasis editable"> Let us capture stunning visuals of Aztech Mountain in Japan.</h2>
    <br />
    <p> We're heading on a road trip through the powder triangle of Japan & we would love to work together capturing impactful photo & video content of Aztech Mountain technical gear along the way.   </p>
    <br />
    <p>Whether it's carving up the pristine slopes of the mountain, or wandering through picturesque Japanese towns we can capture content that leverages our creative vision and is perfectly tailored to your audience and brand -- all the impact of an international destination campaign with every little detail handled for you. </p>
  </div>

  <a class="down-arrow" href="#section4">
    <img src="/images/down-arrow-white.svg" />
  </a>

</section>

<section class="gallery grid">

  {% for image in page.images-1 %}

  <div class="col-3_xs-6">
    <div class="bg-image portrait" style="background-image:url('{{image}}')"></div>
  </div>

  {% endfor %}

</section>


<!-- - - - Section #4 - - - - - - - - -->

<section class="grid mini-banner" id="section4">
  
  <div class="col-4_sm-12">
    <h2 class="editable">LOCATIONS</h2>
  </div>
  <div class="col-8_sm-12 editable">
      <p> We'll be road tripping around Japan with access to a mix of stunning landscapes & towns as well as high end luxury hotels that can form the backdrop of your visuals:  </p>
      <ul>
        <li> Niseko, a charming Japanese Ski Town  </li>
        <li> Luxury penthouse apartments & ski chalets overlooking Yotei Mountain </li>
        <li> Powder covered ski slopes across multiple resorts </li>
        <li> A snow covered amusement park in Rusutsu </li>
        <li> We'll scout the perfect destination for your brand </li>
      </ul>
  </div>
  

  <div class="col-4_sm-12">
    <h2 class="editable">Full-Service Content Production</h2>
  </div>
  <div class="col-8_sm-12 editable">
      <p> We offer full service content production including: </p>
      <ul>
        <li> Professional lookbook, editorial or lifestyle photography </li>
        <li> Cinematic short form videos perfect for instagram reels </li>
        <li> Editorial campaign video </li>
        <li> Content strategy & creative direction </li>
      </ul>
  </div>
  
    <a class="down-arrow" href="#section5">
    <img src="/images/down-arrow.svg" />
  </a>

</section>

<!-- - - - Section #6 - - - - - - - - -->

<section id="section6" class="mini-banner tall grid no-padding mb-light featured">
  <div class="col-5_sm-12-middle padded mob-hide">
    <h2 class="emphasis editable"> Aztech Mountain + our skills + Japan's epic landscapes is a perfect combination.  </h2>
  </div>
<div class="col-7_sm-12 bg-image" style="background-image:url('/images/eon-snow-1.jpg'); ">
</div>

<a class="down-arrow" href="#section7">
  <img src="/images/down-arrow-white.svg" />
</a>

</section>




<!-- - - - Section #5 - - - - - - - - -->

<section class="padded featured grid centered" id="section5">

  <div class="col-12">
      <h2 class="editable"> Past Partners </h2>
      <p> A selection of brands that our crew has collectively worked with over the years. </p>
    </div>

    <!-- Regent / Hotel Indigo / Jack Wolfskin / Craghopper / Honda / Booking.com / Sail Vela / Corona / Luxe Nomad / Keen -->

    <div class="col-2_xs-4-middle p-2">
      <img class="logo-bw-2" src="/images/logos/Honda_Logo.svg">
    </div>
    <div class="col-2_xs-4-middle p-2">
      <img class="logo-bw" src="/images/logos/booking-logo.svg">
    </div>
    <div class="col-2_xs-4-middle p-2">
      <img  class="logo-bw" src="/images/logos/Craghoppers-logo.svg">
    </div>
    <div class="col-2_xs-4-middle p-2">
      <img class="logo-bw" src="/images/logos/jack-wolfskin.svg">
    </div>
    <div class="col-2_xs-4-middle p-2">
      <img class="logo-bw-2" src="/images/logos/regent-logo.svg">
    </div>
    <div class="col-2_xs-4-middle p-2">
      <img class="logo-bw-2" src="/images/logos/st-regis.svg">
    </div>

</section>



<section class="grid mini-banner" id="section4">

  <div class="col-4_sm-12">
    <h2 class="editable">Our Creative Agency</h2>

  </div>
  <div class="col-8_sm-12 editable">
    <p> We run a professional creative agency, <a target="_blank" href="http://instagram.com/kelapacreative"> @kelapacreative </a> that works with clients from all over the world to deliver high calibre content production, from e-commerce & editorials to destination campaigns. We handle everything in-house from strategy & creative direction, to finding the perfect styling & prop curation and location scouting to ensure our content isn't just beautiful but also resonates deeply with the target audience of every brand we work with.  </p>
  </div>
  <div class="col-4_sm-12 editable">
    <h2>Our crew </h2>
  </div>
  <div class="col-8_sm-12 editable">
    <p> Emilio (<a target="_blank" href="http://instagram.com/eyesofanomad"> @eyesofanomad </a>) is our lead photographer & videographer with a passion for visual storytelling. He specialises in working with luxury travel & high end fashion brands, and his work has been featured by BBC, NY Times, CNN and Discovery. </p>
    <p> Rachel (<a target="_blank" href="http://instagram.com/rachelbowler_"> @rachelbowler_ </a>) is a model, creative director and adventurer who has travelled the world creating destination campaigns and content for brands such as Jack Wolfskin, Carghoppers & Honda. For this campaign Rachel would both be featuring in the campaign as the lead model, and handling the styling and creative direction of the shoot. </p>
    <p> Tina <a target="_blank" href="http://instagram.com/hellotinamay"> @hellotinamay </a> is the director of our creative agency and producer on shoots, ensuring a seamless experience for our clients that not only delivers stunning visuals but ensures they are impactful and on-brand. Tina will also be featured as talent in the campaign and has experience modelling for a range of international and travel brands.</p>
  </div>
  <div class="col-4_sm-12 editable">
    <h2>The experience you need  </h2>
  </div>
  <div class="col-8_sm-12 editable">
    <p> We collectively have experience working with select brands from all over the world creating content that tells a story. Some of our past clients include Regent Hotels, Booking.com, Honda, St Regis, Corona and we understand how to deliver content that ticks all the boxes for your marketing needs.</p>
    <p> Being a part of a full-service creative agency, we have experience not just shooting content, but all the strategic direction, coordination, and production management needed to handle this project from start to finish.</p>
  </div>

  <a class="down-arrow" href="#section5">
    <img src="/images/down-arrow.svg" />
  </a>

</section>




<section class="gallery grid">

  {% for image in page.images-2 %}

  <div class="col-3_xs-6">
    <div class="bg-image portrait" style="background-image:url('{{image}}')"></div>
  </div>

  {% endfor %}

</section>
