---
layout: default
title: BenQ
---
  <!-- Section #1 -->
  <section class="banner">
    <div class="front">
       <h1> BenQ <span>x</span> Eyes of a Nomad </h1>
       <h3> Collaboration Proposal </h2>
    </div>
    <a class="down-arrow" href="#section2">
      <img src="down-arrow-white.svg" />
    </a>
  </section>

  <!-- - - - Section #2 - - - - - - - - -->
  <section class="mini-banner" id="section2">
    <div class="col-12-middle">
      <h2 class="emphasis editable">
        Hey BenQ. <br /> I love your brand, and think we could make some magic together.
      </h2>
    </div>
    <a class="down-arrow" href="#section3">
      <img src="down-arrow.svg" />
    </a>
  </section>

<!-- - - - Section #3 - - - - - - - - -->
  <section id="section3" class="mini-banner tall grid no-padding featured">

    <div class="col-7_sm-12 bg-image" style="background-image:url('emile.jpg')">
    </div>
    <div class="col-5_sm-12-middle padded">
      <h2 class="emphasis editable"> Let me introduce myself.</h2>
      <br />
      <p> <a href="http://www.instagram.com/eyesofanomad" target="_blank">@eyesofanomad </a></p>
      <br />
      <p class="editable"> Photograher  |  Videographer  |  Content Creator  |  Adventurer  |  Teacher</p>
    </div>

    <a class="down-arrow" href="#section4">
      <img src="down-arrow-white.svg" />
    </a>

  </section>

  <!-- - - - Section #4 - - - - - - - - -->

  <section class="grid mini-banner" id="section4">

    {% include about.html %}

    <a class="down-arrow" href="#section5">
      <img src="down-arrow.svg" />
    </a>

  </section>

  <!-- - - - Section #5 - - - - - - - - -->

  <section class="padded featured grid centered" id="section5">

    {% include stats.html %}

    <a class="down-arrow" href="#section6">
      <img src="down-arrow-white.svg" />
    </a>

  </section>

  <!-- - - - Section #6 - - - - - - - - -->

  <section id="section6" class="mini-banner tall grid no-padding mb-light featured">
    <div class="col-5_sm-12-middle padded">
      <h2 class="emphasis editable"> I know my audience would love BenQ, let's share it with them.</h2>
    </div>
  <div class="col-7_sm-12 bg-image" style="background-image:url('eon-1.jpg')">
  </div>

  <a class="down-arrow" href="#section7">
    <img src="down-arrow-white.svg" />
  </a>

  </section>

  <!-- - - - Section #7 - - - - - - - - -->

  <section id="section7" class="mini-banner grid">
    <div class="col-4_sm-12">
      <h2 class="editable">Objective </h2>
    </div>
    <div class="col-8_sm-12 editable">
          <p> I really believe that photographers & content creators can dramatically improve their workflow and productivity by using an external monitor. Your monitor in particular, delivers exactly what content creators have been asking for - a color accurate screen with incredible features right out of the box, at a reasonable price. My objective is to help more people get as excited about your product as I am. </p>
    </div>

    <div class="col-4_sm-12">
      <h2 class="editable">My Pitch </h2>
    </div>
    <div class="col-8_sm-12 editable">
          <p> In exchange for gifting 1x 31.5in Professional Design Monitor (PD3220U), I would love to offer you... </p>
        <ul>
          <li> 10x high resolution professionally edited photos showcasing the BenQ Monitor within a professional workflow in a beautiful office </li>
           <li> 1x cinematic unboxing video shared on @eyesofanomad instagram story </li>
           <li> 1x set of stories explaining why I love this monitor and what the features are. </li>
           <li> Dedicated mention in one SEO optimised blog post 'Best Monitor for Photographers' on www.instituteofcode.com blog </li>
           <li> included in a 'My Gear' story highlight for minimum of 12 months </li>
           <li> 1x feature an instagram post with detailed caption about the product </li>
           <li> include in our recommended purchase list for students of my in-person and online courses </li>
        </ul>
    </div>
    <div class="col-4_sm-12">
      <h2 class="editable">Why I think we're the perfect fit. </h2>
    </div>
    <div class="col-8_sm-12 editable">
      <p> I take my photography very seriously, and only invest in equipment and tools that will help take my content to the next level -- that's something my audience has come to know and expect about me, so they trust that I will only promote the highest quality products that I really believe in.  </p>
      <p> In 2019 I'll be teaching hundreds of students photography through IOC & my online courses, and I know that this is the perfect environment to showcase all the benefits of using a BenQ Monitor. </p>
    </div>

    <a class="down-arrow" href="#section8">
      <img src="down-arrow.svg" />
    </a>
  </section>
