---
layout: default
title: Kathmandu
---
  <!-- Section #1 -->
  <section class="banner">
    <div class="front">
       <h1> Kathmandu <span>x</span> Eyes of a Nomad </h1>
       <h3> Collaboration Proposal </h3>
    </div>
    <a class="down-arrow" href="#section2">
      <img src="down-arrow-white.svg" />
    </a>
  </section>

  <!-- - - - Section #2 - - - - - - - - -->
  <section class="mini-banner" id="section2">
    <div class="col-12-middle">
      <h2 class="emphasis editable">
        Oh hey Kathmandu. <br /> Let's go to Japan together and make some magic.
      </h2>
    </div>
    <a class="down-arrow" href="#section3">
      <img src="down-arrow.svg" />
    </a>
  </section>

<!-- - - - Section #3 - - - - - - - - -->
  <section id="section3" class="mini-banner tall grid no-padding featured">

    <div class="col-7_sm-12 bg-image" style="background-image:url('emile.jpg')">
    </div>
    <div class="col-5_sm-12-middle padded">
      <h2 class="emphasis editable"> Let me introduce myself.</h2>
      <br />
      <p> <a href="http://www.instagram.com/eyesofanomad" target="_blank">@eyesofanomad </a></p>
      <br />
      <p class="editable"> Photograher  |  Videographer  |  Content Creator  |  Adventurer  |  Teacher</p>
    </div>

    <a class="down-arrow" href="#section4">
      <img src="down-arrow-white.svg" />
    </a>

  </section>

  <!-- - - - Section #4 - - - - - - - - -->

  <section class="grid mini-banner" id="section4">

    {% include about.html %}

    <a class="down-arrow" href="#section5">
      <img src="down-arrow.svg" />
    </a>

  </section>

  <!-- - - - Section #5 - - - - - - - - -->

  <section class="padded featured grid centered" id="section5">

    {% include stats.html %}

    <a class="down-arrow" href="#section6">
      <img src="down-arrow-white.svg" />
    </a>

  </section>

  <!-- - - - Section #6 - - - - - - - - -->

  <section id="section6" class="mini-banner tall grid no-padding mb-light featured">
    <div class="col-5_sm-12-middle padded">
      <h2 class="emphasis editable"> From Karaoke bars in Tokyo to the slopes of Sapporro, I want to see it all wearing Kathmandu.</h2>
    </div>
  <div class="col-7_sm-12 bg-image" style="background-image:url('eon-1.jpg')">
  </div>

  <a class="down-arrow" href="#section7">
    <img src="down-arrow-white.svg" />
  </a>

  </section>

  <!-- - - - Section #7 - - - - - - - - -->

  <section id="section7" class="mini-banner grid">
    <div class="col-4_sm-12">
      <h2 class="editable">Objective </h2>
    </div>
    <div class="col-8_sm-12 editable">
          <p> As an adventure photographer/content creator I’m a huge advocate for getting out into the field, to places less traveled and finding those epic locations. It might mean getting up at 3am in the morning to hike to that perfect ridge line you scouted the day before to capture the stars and then the sunrise, or hiking in knee deep snow for 3 hours to get that epic shot. We as content creators need gear that can match our lifestyle, that not only performs when we need it to, but looks great and I think Katmandu is kicking goals at just that. For that and many other reasons I believe I would be a great advocate for your brand and can help create some killer content for you guys. </p>
    </div>

    <div class="col-4_sm-12">
      <h2 class="editable">My Pitch </h2>
    </div>
    <div class="col-8_sm-12 editable">
        <p> In exchange for gifting me some cold weather outergear + a few accessories I would love to offer you... </p>
        <ul>
          <li> 25x high resolution professionally edited photos </li>
          <li> 1x 30 second video of our two week trip through Japan - focusing on both the experience & the products </li>
          <li> Mention in a minimum of  3 separate instagram stories over the course of the trip with an additional 3 story mentions when I do a throwback story highlight 2-3 weeks after the trip </li>
           <li> 3x feature instagram posts on @eyesofanomad with detailed caption about the product  </li>
        </ul>
    </div>
    <div class="col-4_sm-12">
      <h2 class="editable">Why I think we're the perfect fit. </h2>
    </div>
    <div class="col-8_sm-12 editable">
      <p> Not only am I an adventure photographer, I work a lot in the fashion world, with extensive experience shooting fashion and lifestyle - working with over 30 clothing/product brands across multiple campaigns in the past year alone. Having worked in both areas of photography means I’m not only capable of showcasing an epic location, I also know how to capture the intricate details of a product that will make your brand stand out and look amazing.  </p>
      <p> I use professional equipment and keep myself to the highest standard of work possible. Im looking to partner with someone that shares the same appreciation of quality and can hopefully work together to create some magic.</p>
    </div>

    <a class="down-arrow" href="#section8">
      <img src="down-arrow.svg" />
    </a>

  </section>
