---
layout: default
title: Four Seasons
images:
  - /images/eonport-44146.jpg
  - /images/eonport-45699.jpg
  - /images/eonport-45506.jpg
  - /images/eonport-45766.jpg
  - /images/eonport-45985.jpg
  - /images/eonport-45768.jpg
  - /images/eonport-45800.jpg
  - /images/eonport-44093.jpg
---
  <!-- Section #1 -->
  <section class="banner" style="background-image:url('/images/hotel.jpg');">
    <div class="front">
       <h1>Four Seasons</h1>
       <h3> Collaboration Proposal </h3>
    </div>
    <a class="down-arrow" href="#section2">
      <img src="down-arrow-white.svg" />
    </a>
  </section>

  <!-- - - - Section #2 - - - - - - - - -->
  <section class="mini-banner" id="section2">
    <div class="col-12-middle">
      <h2 class="emphasis editable">
       Hey Four Seasons. We're coming to Japan, let's make some magic together.
      </h2>
    </div>
    <a class="down-arrow" href="#section3">
      <img src="down-arrow.svg" />
    </a>
  </section>

<!-- - - - Section #3 - - - - - - - - -->
  <section id="section3" class="mini-banner tall grid no-padding featured">

    <div class="col-7_sm-12 bg-image" style="background-image:url('/images/rachel-hotel.jpg')">
    </div>
    <div class="col-5_sm-12-middle padded">
      <h2 class="emphasis editable"> We've got a vision.</h2>
      <br />
      <p> We're a group of content creators heading on a press trip to Japan to explore an off-the-beaten path luxury itinerary -- starting with a week of snowboarding in Niseko, and then road tripping through the country. </p>
      <br />
      <p>We would love to stay exclusively at Four Seasons properties, capturing photo & video content for your social media as well as promoting you to our audiences. </p>
    </div>

    <a class="down-arrow" href="#section4">
      <img src="down-arrow-white.svg" />
    </a>

  </section>

  <!-- - - - Section #4 - - - - - - - - -->

  <section class="grid mini-banner" id="section4">

    {% include about-group.html %}

    <a class="down-arrow" href="#section5">
      <img src="down-arrow.svg" />
    </a>

  </section>

  <!-- - - - Section #5 - - - - - - - - -->

  <section class="padded featured grid centered" id="section5">

    {% include group-stats.html %}

    <a class="down-arrow" href="#section6">
      <img src="down-arrow-white.svg" />
    </a>

  </section>

  <!-- - - - Section #6 - - - - - - - - -->

  <section id="section6" class="mini-banner tall grid no-padding mb-light featured">
    <div class="col-5_sm-12-middle padded">
      <h2 class="emphasis editable"> We can help you reach a new engaged audience of luxury and adventure travellers. </h2>
    </div>
  <div class="col-7_sm-12 bg-image" style="background-image:url('eon-1.jpg')">
  </div>

  <a class="down-arrow" href="#section7">
    <img src="down-arrow-white.svg" />
  </a>

  </section>

  <!-- - - - Section #7 - - - - - - - - -->

  <section id="section7" class="mini-banner grid">

    <div class="col-4_sm-12">
      <h2 class="editable">Our Pitch </h2>
    </div>
    <div class="col-8_sm-12 editable">
        <p> We would love to partner with you during our trip to Japan. In exchange for accomodation we can provide the following ... </p>
        <ul>
          <li> Professional lifestyle photos of your property and surrounding area (including model, styling, shooting, editing etc). </li>
          <li> 1x 30 second promotional video of each property </li>
          <li> Promotion in a number of instagram stories on each persons instagram account) </li>
          <li> Promotion in instagram posts on each persons instagram account (total 8 posts) reaching a total of almost 200,000 people.</li>
        </ul>
    </div>

  </section>

  <section class="gallery grid">

    {% for image in page.images %}

    <div class="col-3_xs-6">
      <div class="bg-image" style="background-image:url('{{image}}')"></div>
    </div>

    {% endfor %}

  </section>
