---
layout: default
title: Gnarbox
---
  <!-- Section #1 -->
  <section class="banner">
    <div class="front">
       <h1> Gnarbox <span>x</span> Eyes of a Nomad </h1>
       <h3> Collaboration Proposal </h2>
    </div>
    <a class="down-arrow" href="#section2">
      <img src="down-arrow-white.svg" />
    </a>
  </section>

  <!-- - - - Section #2 - - - - - - - - -->
  <section class="mini-banner" id="section2">
    <div class="col-12-middle">
      <h2 class="emphasis editable">
        Oh hey Gnarbox. <br /> I love your brand, and think we could make some magic together.
      </h2>
    </div>
    <a class="down-arrow" href="#section3">
      <img src="down-arrow.svg" />
    </a>
  </section>

<!-- - - - Section #3 - - - - - - - - -->
  <section id="section3" class="mini-banner tall grid no-padding featured">

    <div class="col-7_sm-12 bg-image" style="background-image:url('emile.jpg')">
    </div>
    <div class="col-5_sm-12-middle padded">
      <h2 class="emphasis editable"> Let me introduce myself.</h2>
      <br />
      <p> <a href="http://www.instagram.com/eyesofanomad" target="_blank">@eyesofanomad </a></p>
      <br />
      <p class="editable"> Photograher  |  Videographer  |  Content Creator  |  Adventurer  |  Teacher</p>
    </div>

    <a class="down-arrow" href="#section4">
      <img src="down-arrow-white.svg" />
    </a>

  </section>

  <!-- - - - Section #4 - - - - - - - - -->

  <section class="grid mini-banner" id="section4">

    {% include about.html %}

    <a class="down-arrow" href="#section5">
      <img src="down-arrow.svg" />
    </a>

  </section>

  <!-- - - - Section #5 - - - - - - - - -->

  <section class="padded featured grid centered" id="section5">

    {% include stats.html %}

    <a class="down-arrow" href="#section6">
      <img src="down-arrow-white.svg" />
    </a>

  </section>

  <!-- - - - Section #6 - - - - - - - - -->

  <section id="section6" class="mini-banner tall grid no-padding mb-light featured">
    <div class="col-5_sm-12-middle padded">
      <h2 class="emphasis editable"> I know my audience would love Gnarbox, let's share it with them.</h2>
    </div>
  <div class="col-7_sm-12 bg-image" style="background-image:url('eon-1.jpg')">
  </div>

  <a class="down-arrow" href="#section7">
    <img src="down-arrow-white.svg" />
  </a>

  </section>

  <!-- - - - Section #7 - - - - - - - - -->

  <section id="section7" class="mini-banner grid">
    <div class="col-4_sm-12">
      <h2 class="editable">Objective </h2>
    </div>
    <div class="col-8_sm-12 editable">
          <p> I want to help you foster a community of content creators who recognise Gnarbox 2.0 as an essential part of every photographers tool kit, and understand it's ruggedness, reliability, ease of use and ability to bring people together. </p>
    </div>

    <div class="col-4_sm-12">
      <h2 class="editable">My Pitch </h2>
    </div>
    <div class="col-8_sm-12 editable">
          <p> In exchange for gifting 1x 1T Gnarbox 2.0 I would love to offer you... </p>
        <ul>
          <li> 10x high resolution professionally edited photos showcasing the GNARBOX 2.0 in real world applications </li>
           <li> 1x unboxing video on @eyesofanomad instagram story, explaining why I love the Gnarbox and what the features are.  </li>
           <li> inclusion in a 'Gear Guide for Photographers' on www.instituteofcode.com blog </li>
           <li> mention in 3 separate instagram stories over the next 3 months </li>
           <li> 1x feature an instagram post with detailed caption about the product </li>
           <li> include in our recommended purchase list for students of my in-person and online courses </li>
        </ul>
    </div>
    <div class="col-4_sm-12">
      <h2 class="editable">Why I think we're the perfect fit. </h2>
    </div>
    <div class="col-8_sm-12 editable">
      <p> To me, Gnarbox is all about community and collaboration, values that are completely in line with me. </p>
      <p> In 2019 I'll be teaching hundreds of students photography through IOC & my online courses, I'm organising group content creation trips to Japan, Raja Ampat, Java, the Maldives, and I regularly host influencer networking events here in Bali -- this is the perfect environment to showcase all the benefits of the Gnarbox. </p>
    </div>

    <a class="down-arrow" href="#section8">
      <img src="down-arrow.svg" />
    </a>

  </section>
