---
layout: default
title: Red
banner-image_path: /images/red-2.jpg
banner-image-2_path: /images/red-5.jpg
banner-image-3_path: /images/red-3.jpg
gallery-images:
  - image_path: /images/car1.jpeg
  - image_path: /images/car3.jpeg
  - image_path: /images/car2.jpeg
  - image_path: /images/car-iceland.jpeg
  - image_path: /images/car5.jpeg
  - image_path: /images/car9.jpeg
  - image_path: /images/car4.jpeg
  - image_path: /images/car7.jpeg
instagram: false
---

<!-- Section #1 -->
  <section class="banner" style="background-image:url('{{page.banner-image_path}}');">
    <div class="front editable">
      <h1>RED x Komodo</h1>
      <h3>Collaboration Proposal</h3>
    </div>
    <a class="down-arrow" href="#section2">
      <img src="down-arrow-white.svg" />
    </a>
  </section>

  <!-- - - - Section #2 - - - - - - - - -->
  <section class="mini-banner" id="section2">
    <div class="col-12-middle">
      <h2 class="emphasis editable">
        Oh hey RED.<br />We want to take the RED Komodo on an adventure like no other.
      </h2>
    </div>
    <a class="down-arrow" href="#section3">
      <img src="down-arrow.svg" />
    </a>
  </section>

<!-- - - - Section #3 - - - - - - - - -->
  <section id="section3" class="mini-banner tall grid no-padding featured">

    <div class="col-7_sm-12 bg-image" style="background-image:url('{{page.banner-image-2_path}}')">
    </div>
    <div class="col-5_sm-12-middle padded editable">
      <h2 class="emphasis">We've got a vision.</h2>
      <p>&nbsp;</p>
      <p>We're a team of passionate content creators living the dream in beautiful Bali &amp; we want to take the RED Komodo on an adventure to none other than the prehistoric, Komodo Island.</p>
      <p>&nbsp;</p>
      <p>Our vision is to create a film &amp; complementary content showcasing the RED Komodo in action, exploring the jaw dropping environment of the Komodo Islands, from the crystal blue waters, to the pink sands and into the rugged mountains in search of the formidable Komodo dragon.</p>
      <p>&nbsp;</p>
      <p>Having explored the islands many times before, we know the terrain, we have the connections on the ground, we speak the language &amp; we have a team passionate about creating something truly special that showcases this exceptional piece of technology.</p>
      <p>&nbsp;</p>
    </div>

    <a class="down-arrow" href="#section4">
      <img src="down-arrow-white.svg" />
    </a>

  </section>

  <!-- - - - Section #4 - - - - - - - - -->

  <section class="grid mini-banner" id="section4">

    {% include about-group.html %}

    <a class="down-arrow" href="#section5">
      <img src="down-arrow.svg" />
    </a>

  </section>

  <!-- - - - Section #5 - - - - - - - - -->

  <section class="padded featured grid centered" id="section5">

    {% include group-stats.html %}

    <a class="down-arrow" href="#section6">
      <img src="down-arrow-white.svg" />
    </a>

  </section>

  <!-- - - - Section #6 - - - - - - - - -->

  <section id="section6" class="mini-banner tall grid no-padding mb-light featured">
    <div class="col-5_sm-12-middle padded">
      <h2 class="emphasis editable">
        Ready to take the Komodo on an unforgettable adventure.
      </h2>
    </div>
  <div class="col-7_sm-12 bg-image" style="background-image:url('{{page.banner-image-3_path}}')">
  </div>

  <a class="down-arrow" href="#section7">
    <img src="down-arrow-white.svg" />
  </a>

  </section>

  <!-- - - - Section #7 - - - - - - - - -->

  <section id="section7" class="mini-banner grid">

    <div class="col-4_sm-12">
      <h2 class="editable">
        Our Pitch
      </h2>
    </div>
    <div class="col-8_sm-12 editable">
      <p><strong>The Story Vision</strong></p>
      <p>We want to tell the story of an adventurer setting sail in search of the Komodo dragons. Our adventurer is on a mission to film these beautiful modern-day dinosaurs &amp; we will be there every step of the way, through the mud, high on the mountain passes, under the ocean &amp; through dense bushland.</p>
      <p>Our adventurer is the modern day film maker, a film maker who is willing to take risks to get the shot, who will let nothing get in the way, especially his gear.</p>
      <p>&nbsp;</p>
      <p>So why RED:</p>
      <ul>
        <li>We want to showcase the Red Komodo in the environment it was designed for, to be taken anywhere, to be small enough to fit in your backpack, to have a piece of equipment that can create visuals like no other, a camera for the modern day filmmaker.&nbsp;</li>
      </ul>
      <p>&nbsp;</p>
      <p>Why us:</p>
      <ul>
        <li>besides the fact that Indonesia is pretty much shut to the rest of the world, making it virtually impossible for another team to get here, we have the skills, the desire and the connections to make this happen.&nbsp;</li>
        <li>We are cheap AF</li>
        <li>We are stubborn &amp; won't stop until we get the shot we need &amp; won't rest until we deliver what we promise.&nbsp;</li>
        <li>We are over shooting generic brands in generic conditions.&nbsp;</li>
      </ul>
    </div>

  </section>
  <section class="gallery grid">

    {% for image in page.gallery-images %}

    <div class="col-3_xs-6">
      <div class="bg-image" style="background-image:url('{{image.image_path}}')"></div>
    </div>

    {% endfor %}

  </section>
