<div class="col-4_sm-12 editable">
      <h2>Our crew</h2>
    </div>
<div class="col-8_sm-12 editable">
  <p>Our team is spearheaded by two best mates that take incredible pride in creating content that not only showcases the product, but tells a story. Behind them, is a full creative agency based here in Bali, that has the skills &amp; team to plan, coordinate &amp; execute this bold vision.</p>
  <p><strong>Emilio:</strong> An Australian living in Bali for the past 5 years working as a photographer/videographer for international fashion &amp; lifestyle brands. He also runs a school in Bali that teaches&nbsp;<strong>photography &amp; content creation</strong>&nbsp;to aspiring creatives from all over the world - now surpassing 500 students graduating from this immersive learning environment. He also has a highly engaged audience of 30,000 followers on Instagram &amp; an email list of 50k</p>
  <p><strong>Cam:</strong> An American that fell in love with Bali, has called it home for past 3 years. Working as an adventure &amp; lifestyle photographer/videographer working for brands &amp; tourism boards all over the world creating stunning visuals &amp; stories to match.&nbsp;</p>
  <p><strong>Kelapa Creative:</strong> A full-service agency based in Bali, lead by Tina May, provides services from branding &amp; design to comprehensive website builds &amp; full campaign management - &nbsp;from talent management, prop design &amp; more. Our team consists of web devs, editors, copywriters, designers &amp; marketing geniuses.&nbsp;</p>
  <p>Our crew is equiped with everything we need to create stunning visuals, from professional audio &amp; lighting, to gimbals &amp; monitors etc. We shoot Primarily Canon &amp; have the lenses to showcase the beauty &amp; versatility of the RF mount on the RED Komodo. With SCUBA divers in our team, will be looking to partner with @saltysurfhousings to take us underwater &amp; our friends at La Lunia Liveaboard to get us to our destination on their luxurious wooden Phinisi dive boat.</p>
</div>
<div class="col-4_sm-12 editable">
  <h2>The experience you need</h2>
</div>
<div class="col-8_sm-12 editable">
  <p>As a collective we have worked car companies, local and international fashion &amp; lifestyle brands, luxury villas and hotels, cafes and restaurants, tour companies and more. Our work has been featured by BBC, NY Times, CNN, Discovery and is re-shared by major instagram accounts like @artofvisuals and @moodygrams.&nbsp;</p>
  <p>Beyond working with brands, Cam has a long standing partnership with the Indonesian Tourism Board, giving us the ability to push the boundaries of what's possible when it comes to working in sensitive areas like the Komodo Islands.&nbsp;</p>
  <p>Being a part of a full-service creative agency, we have experience not just shooting content, but all the strategic direction, coordination, and production management needed to handle this project from start to finish.</p>
</div>
