<div class="col-4_sm-12">
  <h2 class="editable">I'm Rachel Bowler </h2>

</div>
<div class="col-8_sm-12 editable">
  <p> I'm an internationally signed model and content creator spending my time between the UK and Bali. I love combining my skills with my passion for travel to create storytelling visuals, which help showcase brands personalities. </p>

</div>
<div class="col-4_sm-12 editable">
  <h2>Our crew </h2>
</div>
<div class="col-8_sm-12 editable">
  <p> I'll be travelling with adventure photographer Jess (<a target="_blank" href="http://instagram.com/wildbonde"> @wildbonde </a>, fashion and lifestyle photographer Emilio (<a target="_blank" href="http://instagram.com/eyesofanomad"> @eyesofanomad </a> and micro-influencer Tina May (<a target="_blank" href="http://instagram.com/hellotinamay"> @hellotinamay </a>. </p>
  <p> We collectively have experience working with hundreds of brands from all over the world creating content that tells a story. We'll be travelling with a full professional setup -- Canon 5D Mk IV, Panasonic GH5, Mavic Pro 2 Drone, etc -- ready to create high resolution content for your brand.
</div>
<div class="col-4_sm-12 editable">
  <h2>The experience you need  </h2>
</div>
<div class="col-8_sm-12 editable">
  <p> We've worked car companies, local and international fashion & lifestyle brands, luxury villas and hotels, cafes and restaurants, tour companies and more. Our work has been featured by BBC, NYtimes, CNN, Discovery and is re-shared by major instagram accounts like @artofvisuals and @moodygrams on a regular basis.</p>
</div>
