<div class="col-4_sm-12">
  <h2 class="editable">I'm Emilio, aka Eyes of a Nomad </h2>

</div>
<div class="col-8_sm-12 editable">
  <p> I'm a content creator from Melbourne Australia currently living the dream in Bali, Indonesia. I love helping brands capture the essence of their personality and really telling a story through my work. </p>
  <p> I split my time between travelling the world, doing photography & videography for brands, and teaching the next generation of content creators through my school <a href="http://www.instituteofcode.com"> the Institute of Code.</a></p>

</div>
<div class="col-4_sm-12 editable">
  <h2>Our crew </h2>
</div>
<div class="col-8_sm-12 editable">
  <p> I'll be travelling with adventure photographer Jess Bonde (<a target="_blank" href="http://instagram.com/wildbonde"> @wildbonde </a>, professional model and influencer Rachel Bowler (<a target="_blank" href="http://instagram.com/rachelbowler_"> @rachelbowler_ </a> and my girlfriend and micro-influencer Tina May (<a target="_blank" href="http://instagram.com/hellotinamay"> @hellotinamay </a>. </p>
  <p> We collectively have experience working with hundreds of brands from all over the world creating content that tells a story. We'll be travelling with a full professional setup -- Canon 5D Mk IV, Panasonic GH5, Mavic Pro 2 Drone, etc -- ready to create high resolution content for your brand.
</div>
<div class="col-4_sm-12 editable">
  <h2>The experience you need  </h2>
</div>
<div class="col-8_sm-12 editable">
  <p> We've worked car companies, local and international fashion & lifestyle brands, luxury villas and hotels, cafes and restaurants, tour companies and more. Our work has been featured by BBC, NYtimes, CNN, Discovery and is re-shared by major instagram accounts like @artofvisuals and @moodygrams on a regular basis.</p>
</div>
