<div class="col-4_sm-12 editable">
  <h2>Our crew </h2>
</div>
<div class="col-8_sm-12 editable">
  <p> We're a group of content creators and influencers who take incredible pride in creating content for brands that tells a story. We have adventure photographer Jess Bonde (<a target="_blank" href="http://instagram.com/wildbonde"> @wildbonde </a>), travel and lifestyle photographer Emilio (<a target="_blank" href="http://instagram.com/eyesofanomad"> @eyesofanomad </a>), professional model and influencer Rachel Bowler (<a target="_blank" href="http://instagram.com/rachelbowler_"> @rachelbowler_ </a>) and micro-influencer Tina May (<a target="_blank" href="http://instagram.com/hellotinamay"> @hellotinamay </a>). </p>
  <p> We collectively have experience working with hundreds of companies from all over the world showcasing their brand personality. We'll be travelling with a full professional setup -- Canon 5D Mk IV, Panasonic GH5, Mavic Pro 2 Drone, etc -- ready to create high resolution content for your brand.
</div>
<div class="col-4_sm-12 editable">
  <h2>The experience you need  </h2>
</div>
<div class="col-8_sm-12 editable">
  <p> We've worked car companies, local and international fashion & lifestyle brands, luxury villas and hotels, cafes and restaurants, tour companies and more. Our work has been featured by BBC, NYtimes, CNN, Discovery and is re-shared by major instagram accounts like @artofvisuals and @moodygrams on a regular basis.</p>
</div>
