<div class="col-12">
  <h2 class="emphasis editable">A few little stats.</h2>
  <hr />
</div>
<div class="col-3_xs-12">
  <h3 class="emphasis editable"> 140k </h3>
  <p class="editable"> @wildbonde <br> Instagram </p>
</div>
<div class="col-3_xs-12">
  <h3 class="emphasis editable"> 25k </h3>
  <p class="editable"> @eyesofanomad <br> Instagram </p>
</div>
<div class="col-3_xs-12">
  <h3 class="emphasis editable"> 16k </h3>
  <p class="editable"> @rachelbowler_ <br> Instagram </p>
</div>
<div class="col-3_xs-12">
  <h3 class="emphasis editable"> 11% </h3>
  <p class="editable"> Average <br> Engagement Rate </p>
</div>
