<div class="col-12">
  <h2 class="emphasis editable">A few little stats.</h2>
  <hr />
</div>
<div class="col-3_xs-12">
  <h3 class="emphasis editable">
    26k
  </h3>
  <p class="editable"> Followers on instagram </p>
</div>
<div class="col-3_xs-12">
  <h3 class="emphasis editable"> 5k </h3>
  <p class="editable"> IOC Monthly Blog Readers </p>
</div>
<div class="col-3_xs-12">
  <h3 class="emphasis editable"> 100+ </h3>
  <p class="editable"> Students per year </p>
</div>
<div class="col-3_xs-12">
  <h3 class="emphasis editable"> 11% </h3>
  <p class="editable"> Engagement Rate </p>
</div>
