<!DOCTYPE html>
<html>
<head>



  <title> {{page.title}} | Eyes of a Nomad </title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

  <link href="style.css" rel="stylesheet" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

{{content}}

<!-- - - - Section #8 - - - - - - - - -->
<section id="section8" class="featured centered">
    <h2 class="editable"> Slide into my inbox </h2>
    <hr />
    <p class="editable"> Keen to chat further? Send me an email and let's get the ball rolling. </p>
    <a href="mailto:emilio@eyesofanomad.com" target="_blank"> email me</a></p>
</section>

{% unless page.instagram == false %}
<section class="igfeed no-padding">
  <div class="igfeed-div">
    <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/ecc60fd2e65d50aa82fc4e5148cb8850.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
  </div><!-- closes igfeed-div -->
</section><!-- closes the igfeed section -->

{% endunless %}

</body>
</html>
